html,body { height: 100%; }

body
{

  font-family: 'Roboto', sans-serif;
  background-color: #edebec;


  h1 { font-size: 38px; font-family: 'Libre Baskerville', serif; letter-spacing: normal; }
  h5 { font-size: 9px; letter-spacing: 3px; }

  @media screen and (max-width : 640px){
    h1 { font-size: 32px; }
  }
  @media screen and (max-width : 480px){
    h1 { font-size: 24px; }
  }


  .page-btn { letter-spacing: 3px; font-size: 11px; }


  #home_container, #directory_container
  {
    position: absolute;
    width: 99%;
    left: 0.5%;
  } // close #home_container

  p { line-height: 20px; }


  .section-spacer
  {
    background-color: #f2f0e5; min-height: 10px;
  } // close .section-spacer

} // close body