#attractions_container
{
  background-color: #193035;
  color: #ffffff;
  text-align: center;
  padding-bottom: 100px;


  hgroup
  {
    padding-top: 8%;

    h5 { text-transform: uppercase; text-align: center; }
    h1 { text-align: center; }
  } // close hgroup


  p#attractions_intro { width: 50%; margin: 0 auto; }
  @media screen and (max-width : 800px){
    p#attractions_intro { width: 80%; }
  }


  #attractions_vertical_split
  {
    position: relative;
    left: 50%;
    top: 40px;
    height: 10vh;
    border-left: 1px solid #e5e6da;
    width: 1px;
  } // close #courses_vertical_split


  .attraction-btn
  {
    border: 1px solid #ffffff;
    padding: 10px 0;
    display: inline-block;
    width: 180px!important;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 11px;
    margin-bottom: 10px;

    &:hover
    {
      cursor: pointer;
      border: 1px solid #aaaaaa;
      color: #b3b3b3;
    }

  } // close .attraction-btn
  #view_directory { margin-top: 80px; }
  #add_business {}

} // close #attractions_container


@media screen and (max-width : 800px){
  #attractions_container { padding-bottom: 20px; }
}