#featured_container
{
  background-color: #f1efe3;
  color: #275e46;
  text-align: center;
  padding-bottom: 60px;


  hgroup
  {
    padding-top: 7%;

    img { margin-bottom: 30px; }
    h5 { text-transform: uppercase; }
    h1 { }
  } // close hgroup


  p#featured_intro { width: 50%; margin: 0 auto; }
  @media screen and (max-width : 800px){
    p#featured_intro { width: 80%; }
  }

} // close #featured_container


@media screen and (max-width : 800px){
  #featured_container { padding-bottom: 20px; }
}