#gameplay_container
{


  /*
   * Slideshow controls
   */
  #gameplay_slideshow
  {
    position: absolute;
    top: 50%;
    width: 100%;

    .gameplay-slideshow-btn
    {
      border: 1px solid #ffffff;
      border-top-color: #b2b2b2;
      padding: 5px 40px;
      text-transform: uppercase;
      font-size: 11px;
      cursor: pointer;
    } // close .gameplay-slideshow-btn

    #invite
    {
      display: inline-block;
      border-left: none;
      padding-left: 10px;

      img { margin-right: 30px; }
    } // close #invite

    #social
    {
      display: inline-block;
      border-right: none;
      float: right;
      padding-right: 10px;

      img { margin-left: 30px; }
    } // close #social
  } // close #gameplay_slideshow


  /*
   * Main Content
   */
  position: relative;
  background-color: #141a00;
  background-image: url('../img/layout/gameplay_bg.png');
  background-size: cover;
  color: #ffffff;
  padding-bottom: 100px;


  hgroup
  {
    padding-top: 8%;

    h5 { text-transform: uppercase; text-align: center; }
    h1 { text-align: center; }
  } // close hgroup


  .gameplay-example-container
  {

    margin: 40px 0;
    display: table;
    width: 100%;


    .gameplay-screenshot-col
    {
      padding: 20px 5% 100px 0;
      display: table-cell;
      width: 50%;
      text-align: right;
      border-right: 1px solid #e8e7d8;
    } // close .gameplay-screenshot-col

    .gameplay-explanation-col
    {
      padding: 20px 0 100px 0;
      display:table-cell;
      width: 50%;
      text-align: left;

      .gameplay-explanation-content
      {
        padding: 20px 0 20px 40px;
        text-align: center;
        width: 60%;
        h3 { margin-bottom: 30px; font-family: 'Libre Baskerville', serif; }
        p { font-size: 12px; line-height: 20px; }

        #scorecard_slideshow_circles
        {

          margin-top: 80px;

          .circle-item {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #d7d6cd;
            margin: 0 3px;

            &.active { background-color: #35727f; }
          }

        } // close #scorecard_slideshow_circles

      } // close .gameplay-explanation-content

    } // close .gameplay-explanation-col



    @media screen and (max-width : 1000px){

      .gameplay-example-container {
        border: 1px solid black;
        display: block;
      }

      .gameplay-screenshot-col {
        padding: 0;
        text-align: center;
        display:block;
        width: 100%;
      } // close .gameplay-screenshot-col

      .gameplay-explanation-col {
        display: block;
        padding: 0;
        width: 100%;

        .gameplay-explanation-content
        {
          padding: 0;
          width: 60%;
          margin: 0 auto;
        }

      } // close .gameplay-explanation-content

    }

  } // close .gameplay-example-container


} // close #gameplay_container


@media screen and (max-width : 800px){
  #gameplay_container { padding-bottom: 20px; }
}