#links_container
{

  background-color: #f1efe3;
  color: #275e46;
  text-align: center;
  padding-bottom: 60px;


  hgroup
  {
    padding-top: 8%;

    img { margin-bottom: 10px; }
    h5 { text-transform: uppercase; }
    h1 { }
  } // close hgroup


  p#links_intro { width: 40%; margin: 0 auto; }
  @media screen and (max-width : 800px){
    p#links_intro { width: 80%; }
  }

}


@media screen and (max-width : 800px){
  #links_container { padding-bottom: 30px; }
}