#nearby_container
{
  background-color: #76968c;
  color: #f1efe3;
  text-align: center;
  padding-bottom: 250px;
  position: relative;
  z-index: 0;


  #nearby_overlay
  {
    background-image: url('../img/layout/nearby_bg.png');
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
  } // close #directory_search_overlay


  #nearby_darken
  {
    background-color: #1b4632;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
  } // close #directory_search_darken




  #nearby_courses_container
  {

    margin-top: 145px;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    padding: 5px 20px;
    vertical-align: middle;
    display: inline-block;

    h1 { display: inline-block; font-size: 84px; padding: 0; margin: 0 100px 0 0; vertical-align: middle; font-family: 'Roboto', sans-serif; }
    span#nearby_courses_description {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
      font-size: 14px;
    }

  } // close #nearby_courses_container


  #nearby_vertical_split
  {
    position: relative;
    left: 50%;
    top: 60px;
    height: 15vh;
    border-left: 1px solid white;
    width: 1px;
  } // close #courses_vertical_split


  #view_all_business_info
  {
    position: relative;
    top: 120px;
    border: 1px solid white;
    padding: 10px 40px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;

    &:hover {
      cursor: pointer;
      border: 1px solid #aaaaaa;
      color: #b3b3b3;
    }

  } // close view_all_business_info


} // close #featured_container


@media screen and (max-width : 800px){
  #nearby_container { padding-bottom: 150px; }
}