
#passport_container
{
  background-color: #f1efe3;
  color: #275e46;
  text-align: center;
  padding-bottom: 100px;


  hgroup
  {
    padding-top: 8%;

    h5 { text-transform: uppercase; }
    h1 { }
  }


  p#passport_intro { width: 50%; margin: 0 auto; }
  @media screen and (max-width : 800px){
    p#passport_intro { width: 80%; }
  }



  div#passport_info_container
  {

    margin: 80px 0;
    display: table;
    width: 100%;

    div#passport_golf_shield_container
    {

      padding: 20px 5% 100px 0;
      display: table-cell;
      width: 50%;
      text-align: right;
      border-right: 1px solid #5a8069;

      div#passport_golf_shield
      {
        min-width: 60%;
        max-width: 300px;
        text-align: center;
        margin: 0 0 0 auto;
      } // close div#passport_golf_shield

    } // close div#passport_golf_shield_container

    div#passport_golf_flag_container
    {

      padding: 20px 0 100px 5%;
      display:table-cell;
      width: 50%;
      text-align: left;

      div#passport_golf_flag
      {
        min-width: 60%;
        max-width: 300px;
        text-align: center;
        margin: 0 auto 0 0;
      } // close div#passport_golf_flag

    } // close div#passport_golf_flag_container

  } // close div#passport_info_container



  @media screen and (max-width : 640px){

    div#passport_info_container
    {
      display: block;
      margin: 50px 0;

      div#passport_golf_shield_container
      {
        width: 100%;
        margin: 0 auto 30px auto;
        display: block;
        padding: 0;
        border: none;

        div#passport_golf_shield
        {
          width: 100%;
          min-width: 100%;
          max-width: 100%;
        } // close div#passport_golf_shield

      } // close div#passport_golf_flag_container


      div#passport_golf_flag_container
      {
        width: 100%;
        margin: 0 auto;
        display: block;
        padding: 0;

        div#passport_golf_flag
        {
          width: 100%;
          min-width: 100%;
          max-width: 100%;
        } // close div#passport_golf_flag

      } // close div#passport_golf_flag_container

    } // close div#passport_info_container


  };




  #learn_more
  {
    border: 1px solid #275e46;
    padding: 10px 60px;
    font-weight: normal;
    text-decoration: none;
    text-transform: uppercase;
    color: #275e46;

    &:hover
    {
      cursor: pointer;
      border: 1px solid #05301d;
      color: #05301d;
    }
  } // close ##learn_more


} // close #passport_container


@media screen and (max-width : 800px){
  #passport_container { padding-bottom: 20px; }
}